<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>reverb_decay0hz</key>
			<real>4.119411468505859</real>
			<key>reverb_decaynyquist</key>
			<real>6.839329719543457</real>
			<key>reverb_drywetmix</key>
			<real>29.02621650695801</real>
			<key>reverb_gain</key>
			<real>4.794007301330566</real>
			<key>reverb_maxdelay</key>
			<real>0.1961392313241959</real>
			<key>reverb_mindelay</key>
			<real>0.1696513295173645</real>
			<key>reverb_randomize</key>
			<real>150.0881958007812</real>
		</dict>
		<dict>
			<key>equalizer_1_band</key>
			<string>1</string>
			<key>equalizer_1_disable</key>
			<integer>0</integer>
			<key>equalizer_1_gain</key>
			<string>2</string>
			<key>equalizer_1_samplerate</key>
			<string>50</string>
			<key>equalizer_1_type</key>
			<integer>0</integer>
			<key>equalizer_2_band</key>
			<string>1</string>
			<key>equalizer_2_disable</key>
			<integer>0</integer>
			<key>equalizer_2_gain</key>
			<string>3</string>
			<key>equalizer_2_samplerate</key>
			<string>100</string>
			<key>equalizer_2_type</key>
			<integer>0</integer>
			<key>equalizer_3_band</key>
			<string>1</string>
			<key>equalizer_3_disable</key>
			<integer>0</integer>
			<key>equalizer_3_gain</key>
			<string>2</string>
			<key>equalizer_3_samplerate</key>
			<string>200</string>
			<key>equalizer_3_type</key>
			<integer>0</integer>
			<key>equalizer_4_band</key>
			<string>1</string>
			<key>equalizer_4_disable</key>
			<integer>0</integer>
			<key>equalizer_4_gain</key>
			<string>1</string>
			<key>equalizer_4_samplerate</key>
			<string>400</string>
			<key>equalizer_4_type</key>
			<integer>0</integer>
			<key>equalizer_5_band</key>
			<string>1</string>
			<key>equalizer_5_disable</key>
			<integer>0</integer>
			<key>equalizer_5_gain</key>
			<string>0</string>
			<key>equalizer_5_samplerate</key>
			<string>800</string>
			<key>equalizer_5_type</key>
			<integer>0</integer>
			<key>equalizer_6_band</key>
			<string>1</string>
			<key>equalizer_6_disable</key>
			<integer>0</integer>
			<key>equalizer_6_gain</key>
			<string>0</string>
			<key>equalizer_6_samplerate</key>
			<string>2000</string>
			<key>equalizer_6_type</key>
			<integer>0</integer>
			<key>equalizer_7_band</key>
			<string>1</string>
			<key>equalizer_7_disable</key>
			<integer>0</integer>
			<key>equalizer_7_gain</key>
			<string>4</string>
			<key>equalizer_7_samplerate</key>
			<string>5000</string>
			<key>equalizer_7_type</key>
			<integer>0</integer>
			<key>equalizer_8_band</key>
			<string>0.2</string>
			<key>equalizer_8_disable</key>
			<integer>0</integer>
			<key>equalizer_8_gain</key>
			<string>-7</string>
			<key>equalizer_8_samplerate</key>
			<string>8000</string>
			<key>equalizer_8_type</key>
			<integer>0</integer>
			<key>equalizer_9_band</key>
			<string>1</string>
			<key>equalizer_9_disable</key>
			<integer>0</integer>
			<key>equalizer_9_gain</key>
			<string>2</string>
			<key>equalizer_9_samplerate</key>
			<string>12500</string>
			<key>equalizer_9_type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>compressor_attackTime</key>
			<real>0.001223033643327653</real>
			<key>compressor_expensionRatio</key>
			<real>1.27696629524231</real>
			<key>compressor_expensionThreshold</key>
			<real>-17.69662952423096</real>
			<key>compressor_headRoom</key>
			<real>12.35393238067627</real>
			<key>compressor_masterGain</key>
			<real>0</real>
			<key>compressor_releaseTime</key>
			<real>0.5083333849906921</real>
			<key>compressor_threshold</key>
			<real>-12.69662952423096</real>
		</dict>
		<dict>
			<key>limiter_attackTime</key>
			<real>0.01200000010430813</real>
			<key>limiter_decayTime</key>
			<real>0.02409176155924797</real>
			<key>limiter_preGain</key>
			<real>-1.498127341270447</real>
		</dict>
	</array>
	<array>
		<dict>
			<key>reverb_decay0hz</key>
			<real>3.41820240020752</real>
			<key>reverb_decaynyquist</key>
			<real>9.610148429870605</real>
			<key>reverb_drywetmix</key>
			<integer>30</integer>
			<key>reverb_gain</key>
			<real>5.917603015899658</real>
			<key>reverb_maxdelay</key>
			<real>0.1710897833108902</real>
			<key>reverb_mindelay</key>
			<real>0.09418627619743347</real>
			<key>reverb_randomize</key>
			<real>1</real>
		</dict>
		<dict>
			<key>equalizer_1_band</key>
			<string></string>
			<key>equalizer_1_disable</key>
			<integer>1</integer>
			<key>equalizer_1_gain</key>
			<string></string>
			<key>equalizer_1_samplerate</key>
			<string></string>
			<key>equalizer_1_type</key>
			<integer>0</integer>
			<key>equalizer_2_band</key>
			<string></string>
			<key>equalizer_2_disable</key>
			<integer>1</integer>
			<key>equalizer_2_gain</key>
			<string></string>
			<key>equalizer_2_samplerate</key>
			<string></string>
			<key>equalizer_2_type</key>
			<integer>0</integer>
			<key>equalizer_3_band</key>
			<string></string>
			<key>equalizer_3_disable</key>
			<integer>1</integer>
			<key>equalizer_3_gain</key>
			<string></string>
			<key>equalizer_3_samplerate</key>
			<string></string>
			<key>equalizer_3_type</key>
			<integer>0</integer>
			<key>equalizer_4_band</key>
			<string></string>
			<key>equalizer_4_disable</key>
			<integer>1</integer>
			<key>equalizer_4_gain</key>
			<string></string>
			<key>equalizer_4_samplerate</key>
			<string></string>
			<key>equalizer_4_type</key>
			<integer>0</integer>
			<key>equalizer_5_band</key>
			<string></string>
			<key>equalizer_5_disable</key>
			<integer>1</integer>
			<key>equalizer_5_gain</key>
			<string></string>
			<key>equalizer_5_samplerate</key>
			<string></string>
			<key>equalizer_5_type</key>
			<integer>0</integer>
			<key>equalizer_6_band</key>
			<string></string>
			<key>equalizer_6_disable</key>
			<integer>1</integer>
			<key>equalizer_6_gain</key>
			<string></string>
			<key>equalizer_6_samplerate</key>
			<string></string>
			<key>equalizer_6_type</key>
			<integer>0</integer>
			<key>equalizer_7_band</key>
			<string></string>
			<key>equalizer_7_disable</key>
			<integer>1</integer>
			<key>equalizer_7_gain</key>
			<string></string>
			<key>equalizer_7_samplerate</key>
			<string></string>
			<key>equalizer_7_type</key>
			<integer>0</integer>
			<key>equalizer_8_band</key>
			<string></string>
			<key>equalizer_8_disable</key>
			<integer>1</integer>
			<key>equalizer_8_gain</key>
			<string></string>
			<key>equalizer_8_samplerate</key>
			<string></string>
			<key>equalizer_8_type</key>
			<integer>0</integer>
			<key>equalizer_9_band</key>
			<string></string>
			<key>equalizer_9_disable</key>
			<integer>1</integer>
			<key>equalizer_9_gain</key>
			<string></string>
			<key>equalizer_9_samplerate</key>
			<string></string>
			<key>equalizer_9_type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>compressor_attackTime</key>
			<real>0.000848689116537571</real>
			<key>compressor_expensionRatio</key>
			<real>1.282584266662598</real>
			<key>compressor_expensionThreshold</key>
			<real>-18.25842666625977</real>
			<key>compressor_headRoom</key>
			<real>13.32528114318848</real>
			<key>compressor_masterGain</key>
			<real>0</real>
			<key>compressor_releaseTime</key>
			<real>0.4971348345279694</real>
			<key>compressor_threshold</key>
			<real>-13.25842666625977</real>
		</dict>
		<dict>
			<key>limiter_attackTime</key>
			<real>0.01200000010430813</real>
			<key>limiter_decayTime</key>
			<real>0.02239999920129776</real>
			<key>limiter_preGain</key>
			<real>0</real>
		</dict>
	</array>
	<array>
		<dict>
			<key>reverb_decay0hz</key>
			<real>2.939858198165894</real>
			<key>reverb_decaynyquist</key>
			<real>5.524463176727295</real>
			<key>reverb_drywetmix</key>
			<integer>15</integer>
			<key>reverb_gain</key>
			<real>9.063182830810547</real>
			<key>reverb_maxdelay</key>
			<real>0.3251983821392059</real>
			<key>reverb_mindelay</key>
			<real>0.0220028106123209</real>
			<key>reverb_randomize</key>
			<real>1</real>
		</dict>
		<dict>
			<key>equalizer_1_band</key>
			<string>5</string>
			<key>equalizer_1_disable</key>
			<integer>1</integer>
			<key>equalizer_1_gain</key>
			<string>6</string>
			<key>equalizer_1_samplerate</key>
			<string>1000</string>
			<key>equalizer_1_type</key>
			<integer>0</integer>
			<key>equalizer_2_band</key>
			<string>5</string>
			<key>equalizer_2_disable</key>
			<integer>1</integer>
			<key>equalizer_2_gain</key>
			<string>6</string>
			<key>equalizer_2_samplerate</key>
			<string>2000</string>
			<key>equalizer_2_type</key>
			<integer>0</integer>
			<key>equalizer_3_band</key>
			<string>3</string>
			<key>equalizer_3_disable</key>
			<integer>1</integer>
			<key>equalizer_3_gain</key>
			<string>6</string>
			<key>equalizer_3_samplerate</key>
			<string>4000</string>
			<key>equalizer_3_type</key>
			<integer>0</integer>
			<key>equalizer_4_band</key>
			<string></string>
			<key>equalizer_4_disable</key>
			<integer>1</integer>
			<key>equalizer_4_gain</key>
			<string></string>
			<key>equalizer_4_samplerate</key>
			<string></string>
			<key>equalizer_4_type</key>
			<integer>0</integer>
			<key>equalizer_5_band</key>
			<string></string>
			<key>equalizer_5_disable</key>
			<integer>1</integer>
			<key>equalizer_5_gain</key>
			<string></string>
			<key>equalizer_5_samplerate</key>
			<string></string>
			<key>equalizer_5_type</key>
			<integer>0</integer>
			<key>equalizer_6_band</key>
			<string></string>
			<key>equalizer_6_disable</key>
			<integer>1</integer>
			<key>equalizer_6_gain</key>
			<string></string>
			<key>equalizer_6_samplerate</key>
			<string></string>
			<key>equalizer_6_type</key>
			<integer>0</integer>
			<key>equalizer_7_band</key>
			<string></string>
			<key>equalizer_7_disable</key>
			<integer>1</integer>
			<key>equalizer_7_gain</key>
			<string></string>
			<key>equalizer_7_samplerate</key>
			<string></string>
			<key>equalizer_7_type</key>
			<integer>0</integer>
			<key>equalizer_8_band</key>
			<string></string>
			<key>equalizer_8_disable</key>
			<integer>1</integer>
			<key>equalizer_8_gain</key>
			<string></string>
			<key>equalizer_8_samplerate</key>
			<string></string>
			<key>equalizer_8_type</key>
			<integer>0</integer>
			<key>equalizer_9_band</key>
			<string></string>
			<key>equalizer_9_disable</key>
			<integer>1</integer>
			<key>equalizer_9_gain</key>
			<string></string>
			<key>equalizer_9_samplerate</key>
			<string></string>
			<key>equalizer_9_type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>compressor_attackTime</key>
			<real>0.001223033643327653</real>
			<key>compressor_expensionRatio</key>
			<real>1.27696629524231</real>
			<key>compressor_expensionThreshold</key>
			<real>-17.69662952423096</real>
			<key>compressor_headRoom</key>
			<real>12.80224800109863</real>
			<key>compressor_masterGain</key>
			<real>0</real>
			<key>compressor_releaseTime</key>
			<real>0.5027340650558472</real>
			<key>compressor_threshold</key>
			<real>-12.69662952423096</real>
		</dict>
		<dict>
			<key>limiter_attackTime</key>
			<real>0.01200000010430813</real>
			<key>limiter_decayTime</key>
			<real>0.02239999920129776</real>
			<key>limiter_preGain</key>
			<real>0</real>
		</dict>
	</array>
	<array>
		<dict>
			<key>reverb_decay0hz</key>
			<real>3.592145681381226</real>
			<key>reverb_decaynyquist</key>
			<real>6.4949631690979</real>
			<key>reverb_drywetmix</key>
			<integer>10</integer>
			<key>reverb_gain</key>
			<real>4.344569206237793</real>
			<key>reverb_maxdelay</key>
			<real>0.3823764622211456</real>
			<key>reverb_mindelay</key>
			<real>0.1487432718276978</real>
			<key>reverb_randomize</key>
			<real>1</real>
		</dict>
		<dict>
			<key>equalizer_1_band</key>
			<string>1</string>
			<key>equalizer_1_disable</key>
			<integer>0</integer>
			<key>equalizer_1_gain</key>
			<string>3</string>
			<key>equalizer_1_samplerate</key>
			<string>50</string>
			<key>equalizer_1_type</key>
			<integer>0</integer>
			<key>equalizer_2_band</key>
			<string>1</string>
			<key>equalizer_2_disable</key>
			<integer>0</integer>
			<key>equalizer_2_gain</key>
			<string>6</string>
			<key>equalizer_2_samplerate</key>
			<string>100</string>
			<key>equalizer_2_type</key>
			<integer>0</integer>
			<key>equalizer_3_band</key>
			<string>1</string>
			<key>equalizer_3_disable</key>
			<integer>0</integer>
			<key>equalizer_3_gain</key>
			<string>3.3</string>
			<key>equalizer_3_samplerate</key>
			<string>200</string>
			<key>equalizer_3_type</key>
			<integer>0</integer>
			<key>equalizer_4_band</key>
			<string>1</string>
			<key>equalizer_4_disable</key>
			<integer>0</integer>
			<key>equalizer_4_gain</key>
			<string>2.5</string>
			<key>equalizer_4_samplerate</key>
			<string>400</string>
			<key>equalizer_4_type</key>
			<integer>0</integer>
			<key>equalizer_5_band</key>
			<string>1</string>
			<key>equalizer_5_disable</key>
			<integer>0</integer>
			<key>equalizer_5_gain</key>
			<string>1.5</string>
			<key>equalizer_5_samplerate</key>
			<string>800</string>
			<key>equalizer_5_type</key>
			<integer>0</integer>
			<key>equalizer_6_band</key>
			<string>1</string>
			<key>equalizer_6_disable</key>
			<integer>0</integer>
			<key>equalizer_6_gain</key>
			<string>0</string>
			<key>equalizer_6_samplerate</key>
			<string>1600</string>
			<key>equalizer_6_type</key>
			<integer>0</integer>
			<key>equalizer_7_band</key>
			<string>1</string>
			<key>equalizer_7_disable</key>
			<integer>0</integer>
			<key>equalizer_7_gain</key>
			<string>0</string>
			<key>equalizer_7_samplerate</key>
			<string>3150</string>
			<key>equalizer_7_type</key>
			<integer>0</integer>
			<key>equalizer_8_band</key>
			<string>1</string>
			<key>equalizer_8_disable</key>
			<integer>0</integer>
			<key>equalizer_8_gain</key>
			<string>2</string>
			<key>equalizer_8_samplerate</key>
			<string>6300</string>
			<key>equalizer_8_type</key>
			<integer>0</integer>
			<key>equalizer_9_band</key>
			<string>1</string>
			<key>equalizer_9_disable</key>
			<integer>0</integer>
			<key>equalizer_9_gain</key>
			<string>2</string>
			<key>equalizer_9_samplerate</key>
			<string>12500</string>
			<key>equalizer_9_type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>compressor_attackTime</key>
			<real>0.001223033643327653</real>
			<key>compressor_expensionRatio</key>
			<real>1.27696629524231</real>
			<key>compressor_expensionThreshold</key>
			<real>-17.69662952423096</real>
			<key>compressor_headRoom</key>
			<real>12.80224800109863</real>
			<key>compressor_masterGain</key>
			<real>0</real>
			<key>compressor_releaseTime</key>
			<real>0.5083333849906921</real>
			<key>compressor_threshold</key>
			<real>-12.69662952423096</real>
		</dict>
		<dict>
			<key>limiter_attackTime</key>
			<real>0.01200000010430813</real>
			<key>limiter_decayTime</key>
			<real>0.02409176155924797</real>
			<key>limiter_preGain</key>
			<real>0</real>
		</dict>
	</array>
	<array>
		<dict>
			<key>reverb_decay0hz</key>
			<real>1</real>
			<key>reverb_decaynyquist</key>
			<real>0.5</real>
			<key>reverb_drywetmix</key>
			<real>0.5</real>
			<key>reverb_gain</key>
			<real>4.662310600280762</real>
			<key>reverb_maxdelay</key>
			<real>0.05000000074505806</real>
			<key>reverb_mindelay</key>
			<real>0.00800000037997961</real>
			<key>reverb_randomize</key>
			<real>315.4999694824219</real>
		</dict>
		<dict>
			<key>equalizer_1_band</key>
			<string></string>
			<key>equalizer_1_disable</key>
			<integer>1</integer>
			<key>equalizer_1_gain</key>
			<string></string>
			<key>equalizer_1_samplerate</key>
			<string></string>
			<key>equalizer_1_type</key>
			<integer>0</integer>
			<key>equalizer_2_band</key>
			<string></string>
			<key>equalizer_2_disable</key>
			<integer>1</integer>
			<key>equalizer_2_gain</key>
			<string></string>
			<key>equalizer_2_samplerate</key>
			<string></string>
			<key>equalizer_2_type</key>
			<integer>0</integer>
			<key>equalizer_3_band</key>
			<string></string>
			<key>equalizer_3_disable</key>
			<integer>1</integer>
			<key>equalizer_3_gain</key>
			<string></string>
			<key>equalizer_3_samplerate</key>
			<string></string>
			<key>equalizer_3_type</key>
			<integer>0</integer>
			<key>equalizer_4_band</key>
			<string></string>
			<key>equalizer_4_disable</key>
			<integer>1</integer>
			<key>equalizer_4_gain</key>
			<string></string>
			<key>equalizer_4_samplerate</key>
			<string></string>
			<key>equalizer_4_type</key>
			<integer>0</integer>
			<key>equalizer_5_band</key>
			<string></string>
			<key>equalizer_5_disable</key>
			<integer>1</integer>
			<key>equalizer_5_gain</key>
			<string></string>
			<key>equalizer_5_samplerate</key>
			<string></string>
			<key>equalizer_5_type</key>
			<integer>0</integer>
			<key>equalizer_6_band</key>
			<string></string>
			<key>equalizer_6_disable</key>
			<integer>1</integer>
			<key>equalizer_6_gain</key>
			<string></string>
			<key>equalizer_6_samplerate</key>
			<string></string>
			<key>equalizer_6_type</key>
			<integer>0</integer>
			<key>equalizer_7_band</key>
			<string></string>
			<key>equalizer_7_disable</key>
			<integer>1</integer>
			<key>equalizer_7_gain</key>
			<string></string>
			<key>equalizer_7_samplerate</key>
			<string></string>
			<key>equalizer_7_type</key>
			<integer>0</integer>
			<key>equalizer_8_band</key>
			<string></string>
			<key>equalizer_8_disable</key>
			<integer>1</integer>
			<key>equalizer_8_gain</key>
			<string></string>
			<key>equalizer_8_samplerate</key>
			<string></string>
			<key>equalizer_8_type</key>
			<integer>0</integer>
			<key>equalizer_9_band</key>
			<string></string>
			<key>equalizer_9_disable</key>
			<integer>1</integer>
			<key>equalizer_9_gain</key>
			<string></string>
			<key>equalizer_9_samplerate</key>
			<string></string>
			<key>equalizer_9_type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>compressor_attackTime</key>
			<real>0.001000000047497451</real>
			<key>compressor_expensionRatio</key>
			<real>1.3</real>
			<key>compressor_expensionThreshold</key>
			<real>-25</real>
			<key>compressor_headRoom</key>
			<real>5</real>
			<key>compressor_masterGain</key>
			<real>1.394333362579346</real>
			<key>compressor_releaseTime</key>
			<real>0.05000000074505806</real>
			<key>compressor_threshold</key>
			<real>-20</real>
		</dict>
		<dict>
			<key>limiter_attackTime</key>
			<real>0.01200000010430813</real>
			<key>limiter_decayTime</key>
			<real>0.02239999920129776</real>
			<key>limiter_preGain</key>
			<real>0</real>
		</dict>
	</array>
</array>
</plist>
